<form method="GET" action="/search">
    <div class="form-group">
        <h3>Search Text</h3>
        <input type="text" class="form-control" id="searchTerm" name="q">
        <small class="form-text text-muted">Enter the keywords or phrase to search.</small>
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Search</button>
    <input type="hidden" name="currentOffset" value=0>
</form>